/* navbar.css */
.navbar {
  background-color: #fff; /* White background */
  color: #000; /* Black text color */
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-title {
  font-size: 32px; /* Larger font size */
  font-weight: bold; /* Bold title */
}

.navbar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-menu li {
  margin-right: 20px;
}

.navbar-menu li a {
  color: #000; /* Black text color */
  text-decoration: none;
  font-size: 18px;
}

.navbar-menu li a:hover {
  color: #ffcc00; /* Change the color on hover */
}

.navbar-username {
  font-size: 18px;
  margin-right: 20px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .navbar-menu {
    justify-content: flex-start;
  }

  .navbar-menu li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .navbar-username {
    margin-right: 0;
    margin-left: auto;
  }
}
